.array-container {
  position: static;
  left: 100px;
  /* top: 100px; */
}

.array-bar {
  width: 10px;
  display: inline-block;
  margin: 5px 1px;
}

.array-bar:hover {
  background-color: #000078 !important;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
